# Dependencies
node_modules/
client/node_modules/
server/node_modules/
.npm
.eslintcache

# Build outputs
dist/
build/
.next/
out/

# Environments
.env
.env.local
.env.production
.env.development
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
/server/src/generated/client/
/server/dist/
